<a href="https://colab.research.google.com/github/heojuyoung32/Practice_mid/blob/main/mid%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 1

In [3]:
b = 2

In [4]:
print(a + b)

3

In [5]:
a = 100
print(a+b)

102

In [6]:
c = "I love python"
print(c)

I love python

In [7]:
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

print(a)
print(_b)
print(a_b)
print(c_d)

Lori
Sam
Ken
Jen

In [8]:
d = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
e = ['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
f = [1, 2, 3, 4, 5, 6, 7, 8,]

print(d)
print(e)
print(f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성")
i = (1, 2, 3, 4, 5, 6, 7, 8)

print(g)
print(h)
print(i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [11]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print(str_data)
print('\n')
print(list_data)
print('\n')
print(tuple_data)

print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I love python


['apple', 'banana', 'grapes', 'mango']


('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [12]:
str = 'Time is money!'

print(str[1])
print(str[-5])
print(str[10])
print(str[-11])
print(str[3])

i
o
n
e
e

In [13]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[1, 2, 3]
3

In [14]:
subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [15]:
str1 = 'i love' ; str2 = ' ' ; str3 = 'python'
print(str1 + str2 + str3)

i love python