<a href="https://colab.research.google.com/github/heojuyoung32/Practice_mid/blob/main/mid2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=100
y=95

if x>y:
  print('x is greater than y.')


else:
  print('x is smaller than or equal to y.')

x is greater than y.

In [2]:
x=85
y=90

if x>y:
  print('x is greater than y.')


else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [3]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print ('a가 listdata 안에 있습니다.')
  print(listdata)

else:
  print('해당 문자는 listdata 안에 없습니다.')

a가 listdata 안에 있습니다.
['a', 'b', 'c']

In [4]:
listdata = ['a', 'b', 'c']
if 'z' in listdata:
  print ('a가 listdata 안에 있습니다.')
  print(listdata)

else:
  print('해당 문자는 listdata 안에 없습니다.')

해당 문자는 listdata 안에 없습니다.

In [5]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(numbers)
print('\n')

for i in numbers:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9)


1
2
3
4
5
6
7
8
9

In [6]:
scope = [1, 2, 3, 4, 5]

for y in scope:
  print(y)

1
2
3
4
5

In [7]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
name = ['수빈', '은서', '유진']

for i in name:
  print(i)

수빈
은서
유진

In [9]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [10]:
listfruit = ['apple', 'grape', 'strawberry', 'watermelon', 'mango', 'blueberry']

for i in listfruit:
  print(i)

apple
grape
strawberry
watermelon
mango
blueberry

In [11]:
dict1 =  {'a':97, 'b':98, 'c':99}
print(dict1['c'])
print('\n')

for i in dict1:
  print(i)

99


a
b
c